*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Big Shoulders Display', cursive, 'Lexend Deca', sans-serif 'Poppins', sans-serif;
    font-size: 16px;
}

body{
    background-image: url("desktop.png");
    display: flex;
    flex-direction: column;
    text-align: center;
}
main{
   display: flex; 
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   width: 100%;
   height: 100vh;
}
@media(max-width:357px){
    body{
        background-image: url("mobile.png");
        background-color: hsl(0, 100%, 74%);
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
}
@media(max-width:1440px){
    body{
        background-image: url("mobile.png") ;
        background-color: hsl(0, 100%, 74%);
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
@media(max-width:768px){
   form button{
    text-align: right;
    width: 880%;
    font-size: 10px;
    margin-left: 10px;
    padding: 10px;
    margin-bottom: 15px;
    background-color: rgb(61, 176, 61) ;
    color: white;
    border-radius: 5px; 
   }
}
.text{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-right: 5%;
    color: hsl(0, 0%, 100%, 0.75);
    
}
.text h1{
    font-size: 50px;
}
.text .topp{
    padding-top: 30px;
}
.form p{
    text-align: center;
    width: 100%;
    margin-left: 10px;
    padding: 10px;
    margin-bottom: 15px;
    background-color: hsl(248, 32%, 49%);
    color: white;
    border-radius: 5px;  
}
form{
    color: white;
    display: flex;
    align-content: center;
    flex-direction: column;
    /*width: 90%;*/
    width: 100%;
    padding: 2vw 1vw;
    border: ridge;
    border-radius: 8px ;
    max-width: 600px;
    position: relative;
    font-size: 10px;
    background-color: white;
    border: none;
}
form input[type=text],form input[type=password],form input[type=email] {
    margin: 10px;
    font-size: 20px;
    padding-left: 15px;
}


form button{
    text-align: center;
    width: 80%;
    font-size: 10px;
    margin-left: 5px;
    padding-left: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 8px;
    border: none;
    margin-bottom: 15px;
    background-color:hsl(154, 59%, 51%) ;
    color: white;
    border-radius: 5px;  
    box-sizing: border-box;   
}
form h4{
text-align: center;
 color: rgb(81, 77, 77);
 font-size: 10px;
 padding: 11px;
}

span{
    color: red;
    font-size: 12px;
}
main .formm .contact .input-control input:focus:invalid~.error{
    position: relative;
    margin: 1.5rem;
}
 main  .formm .contact  .input-control input:focus:invalid{ 
    background: url("icon-error-1.svg") no-repeat 95% 50%;
    background-size: 25px;
    border: 2px solid red;
    transition: border 10ms;
    color: hsl(0, 0%, 100%,  0.75);
}
 main  .formm .contact .input-conttol input:focus:invalid~.error::after{
    content: attr(data-error);
    color: red;
    position: absolute;
    bottom: 0;
    font-style: italic;
    font-size: 14px;
    right: 0;
    padding-bottom: 1rem;
}

::placeholder {
    font-size: 10px;
  }

  input[type=text]:focus {
    border: 2px solid #555;
  }

  input[type=text] [type=email] [type=password] {
    border-radius: 3px;
    border: 1px solid;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }